<% if (location.isHighlighted) { %> 
  <button class="close-btn" id="close-btn"><i class="material-icons">cancel</i></button>
<% } %>
<div>
  <div class="info-heading">
    <h2>
    <% if (location.locationName) { %>
      <%= location.locationName %>
    <% } else { %>
    Empty location 
    <% } %>
    <% if (location.masterName) { %>
       (<%= location.masterName %>)
    <% } %>
  </h2>		
  <div class="icons-info">
  <% if (location.population) { %>
      <span class="icons-item"><i class="material-icons">face</i> <span><%= location.loyalPopulation %>/<%= location.population %></span></span>
    <% } %>
    <% if (location.dailyBank !== undefined) { %>
      <span class="icons-item"><i class="material-icons">account_balance</i><span> <%= location.dailyBank %></span></span>
    <% } %>  
  </div>	
</div>				
  									
  
  <div>
    <% if (location.dailyMessage) { %> 
    <span><i class="material-icons">textsms</i> <%= location.dailyMessage %></span>
  <% } %>  
  </div>
  <% if(isAdmin)  { %> 
    <span>Location coords: <%= location.northWest.lat %> <%= location.northWest.lng %></span>
  <% } %>
</div>
<div class="form-btns">
<% if (!location.masterId && location.isCurrent) { %>
  <button class="btn" id="occupy-btn">Occupy</button>
<% } %>
<% if (!location.masterId && !location.isCurrent && isAdmin) { %>
  <button class="btn" id="occupy-click-btn">Occupy</button>
<% } %>
<% if (location.isHighlighted && (location.isMaster || isAdmin)) { %>
  <button class="btn edit-loc-btn" id="edit-loc-btn">Edit location</button>
<% } %>
<% if ((location.isMaster || (isAdmin && location.locationId)) && location.isHighlighted) { %>
  <button class="btn delete-loc-btn" id="delete-loc-btn">Delete location</button>
<% } %>
<% if (location.isMaster && location.isCurrent && location.dailyBank) { %> 
  <button class="btn money-btn" id="money-btn">Take money</button>
<% } %>
<% if (( location.isMaster || isAdmin ) && !location.isCurrent && ( location.loyalPopulation < location.population )) { %>
  <button class="btn feed-btn" id="feed-btn">Feed</button>
<% } %>
</div>