<!-- <% if (location.isHighlighted) { %> 
  <button class="close-btn" id="close-btn"><i class="material-icons">cancel</i></button>
<% } %>
 -->



<div class="location-info">
      <h2><% if (location.locationName) { %>
      <%= location.locationName %>
    <% } else { %>
    Empty location 
    <% } %>
    <% if (location.masterName) { %>
       (<%= location.masterName %>)
    <% } %></h2>

    <% if (location.dailyMessage) { %> 
     <p><i class="icon material-icons">message</i> <%= location.dailyMessage %></p>
    <% } %>
    <p>
      <% if (location.population) { %>
        <span><i class="icon material-icons">accessibility</i> <%= location.loyalPopulation %>/<%= location.population %></span>
      <% } %>
      <% if (location.dailyBank !== undefined) { %>
        <span><i class="icon material-icons">account_balance</i> <%= location.dailyBank %></span>  
      <% } %>
    </p> 
</div>
<div class="location-buttons">
  <% if (!location.masterId && location.isCurrent) { %>
    <button type="button" class="btn" id="occupy-btn">Occupy</button>
  <% } %>
  <% if (!location.masterId && !location.isCurrent && isAdmin) { %>
    <button type="button" class="btn" id="occupy-click-btn">Occupy</button>
  <% } %>
  <% if (location.isHighlighted && location.locationId && (location.isMaster || isAdmin)) { %>
    <button type="button" class="location-buttons--item" id="edit-loc-btn">
          <i class="material-icons">mode_edit</i>
     </button>
  <% } %>
     <% if (location.isMaster && location.isCurrent && location.dailyBank) { %> 
        <button type="button" class="location-buttons--item" id="money-btn">
              <i class="material-icons">monetization_on</i>
            </button>
      <% } %>

<% if (( location.isMaster || isAdmin ) && !location.isCurrent && ( location.loyalPopulation < location.population )) { %>
  <button type="button" class="location-buttons--item" id="feed-btn">
        <i class="material-icons">shopping_basket</i></button>
<% } %>
    <% if ((location.isMaster || (isAdmin && location.locationId)) && location.isHighlighted) { %>
      <button type="button" class="location-buttons--item" id="delete-loc-btn"> <i class="material-icons">delete_forever</i></button>
    <% } %>
</div>